-# .devise_helper_methods_list
-#   %ul
-#     %li= after_sign_in_path_for
-#     %li= after_sign_out_path_for

- if user_signed_in?

  - model_class = User.new.class
  %table.table.table-striped
    %thead
      %tr
        %th= model_class.human_attribute_name(:username)
        %th= model_class.human_attribute_name(:nickname)
        %th= model_class.human_attribute_name(:provider)
        %th= model_class.human_attribute_name(:sign_in_count)
        %th= model_class.human_attribute_name(:created_at)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.username, user.url
          %td= user.nickname
          %td= user.provider
          %td= user.sign_in_count
          %td= user.created_at
          %td= link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(user), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

- else
  %h1 юзер не афторизован
