.admin_panel

  - if user_signed_in?
    %h2= @msg

    - if current_user.credentials == 'admin' || current_user.credentials == 'accept'
      %h1 Админ панель
      %i Real time update

      %table
        %thead
          %tr
            %th Имя
            %th Почта
            -# %th Nickname
            -# %th Provider
            -# %th URL
            %th Кол. вход
            %th Файл
            %th Статус
            %th Время

            %th Действия
            %th Действия
            %th Действия
            %th Действия
        %tbody#ws_new_user
          - @users.each do |user|
            %tr
              %td= link_to user.username, user
              %td.item_user_mail= user.email || '-'
              -# %td= user.nickname || '-'
              -# %td= user.provider || '-'
              -# %td= user.url || '-'
              %td= user.sign_in_count || '-'
              %td= user.file ? link_to(user.file_file_name, user.file.url, target: '_blank') : '-'
              %td.status= user.credentials || '-'
              %td.blocked_date= user.blocked_date || '-'

              %td.action= link_to 'Принять', user_path(user) + '?status=accept'
              %td.action= link_to 'Отклонить', user_path(user) + '?status=reject'
              %td.action= link_to 'Заблакировать', user_path(user) + '?status=block'
              %td= link_to 'Удалить', user_path(user), method: :delete, confirm: 'Are you sure?'
  - else
    %h1 Вы не афторизованны
    = link_to 'афторизация', new_user_session_path