.admin_panel

  - if user_signed_in?

    - case curent_user.credentials
    - when 'hend'
    -   msg = 'Ваша заявка на регистрацию находится на рассмотрении у модератора.'
    - when 'accept'
    -   msg = "Спасибо, #{curent_user.username}, Ваша  заявка на  регистрацию успешно подтверждена  модератором,  добро пожаловать!"
    - when 'reject'
    -   msg = "К сожалению, #{curent_user.username}, Ваша заявка  на  регистрацию отклонена из-за несоответствия  переданных  данных"
    - when 'block'
    -   msg = "Ара #{curent_user.username} ты заблакирован "
    - when 'vk'
    -   msg = "Добро  пожаловать, #{curent_user.username},  вы  успешно авторизовались через соц сеть"
    - end


    %h1 Админ панель
    %h2= msg
    %i Real time update

    %table
      %thead
        %tr
          %th Name
          %th Email
          -# %th Nickname
          -# %th Provider
          %th URL
          %th Count
          %th File
          %th Статус

          %th Action
          %th Action
          %th Action
          %th Action
      %tbody
        - @users.each do |user|
          %tr
            %td= link_to user.username, user
            %td= user.email    || '-'
            -# %td= user.nickname || '-'
            -# %td= user.provider || '-'
            %td= user.url      || '-'
            %td= user.sign_in_count || '-'
            %td= user.file ? link_to(user.file_file_name, user.file.url, target: '_blank') : '-'
            %td.status= user.credentials || '-'

            %td.action= link_to 'Принять', user_path(user) + '?status=accept'
            %td.action= link_to 'Отклонить', user_path(user) + '?status=reject'
            %td.action= link_to 'Заблакировать', user_path(user) + '?status=block'
            %td= link_to 'Удалить', user_path(user), method: :delete, confirm: 'Are you sure?'

      -# Real time update!
  - else
    %h1 Вы не афторизованны
