%p#notice= notice

%p
  %b Username:
  = @user.username
%p
  %b Email:
  = @user.email
%p
  %b Password:
  = @user.password
%p
  %b Phone:
  = @user.phone
%p
  %b Address:
  = @user.address
%p
  %b City:
  = @user.city
%p
  %b File:
  = @user.file
%p
  %b Credentials:
  = @user.credentials
%p
  %b Nickname:
  = @user.nickname
%p
  %b Provider:
  = @user.provider
%p
  %b Url:
  = @user.url

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
