= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  %h2 Войти

  .clear
  .field
    = f.label :email, value: 'Логин'
    = f.email_field :email, autofocus: true
  .field
    = f.label :password, value: 'Пароль'
    = f.password_field :password, autocomplete: "off"
  .clear
  .actions
    = f.submit "Войти"
    .clear
    - resource_class.omniauth_providers.each do |provider|
      = link_to "Войти с #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)
  .clear
  .extra
    = link_to 'Зарегистрироваться', new_user_registration_path
    %br
    = link_to "Sign in with Vkontakte", users_omniauth_callbacks_vkontakte_path


  -# .device_hleper_link= render "devise/shared/links"

