!!!
%html
  %head
    %title Journey
    = csrf_meta_tags
    %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", :rel => "stylesheet prefetch"}/
    = stylesheet_link_tag    'application', media: 'all'
    -# %link{:href => "assets/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %body
    #sign_in_status
      %ul.nav

        - if user_signed_in?
          %li= link_to "#{current_user.username} (#{current_user.provider})", current_user.url
          %li
            %span
              Здравствуйте,
              = current_user.email
            = link_to 'Выйти', destroy_user_session_path, :method => :delete

        - else

          %li= link_to 'Войти', new_user_session_path
          - resource_class.omniauth_providers.each do |provider|
            %li= link_to "Войти с #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)
          %li= link_to 'Зарегистрироваться', new_user_registration_path

    = yield

    %canvas.blur{:src => "/assets/abstract-wallpaper-abstract-wallpapers.jpg"}

    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}
    = javascript_include_tag 'application'
